In [2]:
# primero importamos el módulo pandas para poder usar los métodos de este paquete
import pandas as pd

# guardo la ruta de acceso al archivo DE MI DRIVE (USTED DEBE PONER LA SUYA) 
path = r"C:\Users\juan-\OneDrive\Estudios AIEP\APLICACIÓN ESTADÍSTICA AL ANÁLISIS DE DATOS\Semana 1\datos_supermercadousa_listo_para_analisis.csv"

# y definimos (creamos)  una nueva variable llamada "df" con el resultado de la aplicación del método read_csv de pandas, tomando como argumento path (la ruta al archivo)
df = pd.read_csv(path)

# este dataframe viene en inglés así que cambiaremos los nombres de sus encabezados con el método rename()
df = df.rename(columns= {'Invoice ID':"id", 'Branch':"Sucursal", 'City':"Ciudad", 
               'Customer type':"Tipo de cliente", 'Gender':"Género",
               'Product line': "Línea de producto", 'Unit price':"Precio unitario", 
               'Quantity':"Cantidad de productos", 'Tax 5%':"Impuesto", 'Total':"Total", 'Date':"Fecha",
               'Time':"Hora", 'Payment':"Pago", 'cogs':"Costo bienes vendidos", 
               'gross margin percentage':"Porcentaje de margen bruto", 'gross income':"Ingreso bruto",
               'Rating':"Calificación"})

In [20]:
df.head()

,Invoice ID,Sucursal,Ciudad,Tipo de comprador,Género,Linea de producto,Precio por unidad,Canrtidad,Impuesto 5%,Total,Fecha,Tiempo,Tipo de pago,cogs,Margen bruto,Ingreso bruto,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,261.415,5489.715,01/05/2019,13:08,Ewallet,522.83,4761904.762,261.415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.820,8.022,03/08/2019,10:29,Cash,76.40,4761904.762,3.820,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,162.155,3405.255,03/03/2019,13:23,Credit card,324.31,4761904.762,162.155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.288,489.048,1/27/2019,20:33,Ewallet,465.76,4761904.762,23.288,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,302.085,6343.785,02/08/2019,10:37,Ewallet,604.17,4761904.762,302.085,5.3

In [6]:
import pandas as pd
df = pd.read_csv("datos_supermercadousa_listo_para_analisis.csv")
media_impuesto = df["Impuesto 5%"].mean()
print("Media del impuesto:", media_impuesto)

Media del impuesto: 44.63323

In [8]:
mediana_impuesto = df["Impuesto 5%"].median()
print("Mediana del impuesto:", mediana_impuesto)

Mediana del impuesto: 17.334000000000003

In [10]:
moda_linea = df["Linea de producto"].mode()[0]
print("Moda de Línea de producto:", moda_linea)

Moda de Línea de producto: Fashion accessories

In [12]:
q3_total = df["Total"].quantile(0.75)
print("Percentil 75 de Total:", q3_total)

Percentil 75 de Total: 696.84825

In [14]:
q1 = df["Ingreso bruto"].quantile(0.25)
q3 = df["Ingreso bruto"].quantile(0.75)
ric = q3 - q1
print("Rango intercuartil:", ric)

Rango intercuartil: 28.668000000000003

In [18]:
desv_est = df["Ingreso bruto"].std()
print("Desviación estándar de Ingreso bruto:", desv_est)

Desviación estándar de Ingreso bruto: 75.56433113579845